@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   line-height: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.cursive {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-gradient {
  background: linear-gradient(
    53.86deg,
    #a509ffe1 0%,
    #1923ea97 83.65%,
    #9300c890 100%
  );
}
.gradient {
  background: linear-gradient(
    43.86deg,
    rgb(41, 0, 90) 0%,
    #5421a5 53.65%,
    #2c004a 100%
  );
}


.sidebar {
    -webkit-animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(262, 76%, 51%) 0%,
    hsl(261, 100%, 55%) 26%,
    hsl(257, 93%, 46%) 39%,
    hsl(241, 100%, 69%) 50%,
    hsl(235, 100%, 66%) 61%,
    hsl(263, 73%, 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(140px);
  width: 850px;
}

.gradient-03 {
  position: absolute;
  width: 315px;
  height: 830px;
  left: 0%;
  top: 41%;
  z-index: -1000;

  background: rgba(72, 22, 255, 0.433);
  filter: blur(140px);
}

.curved-line {
  width: 300px; 
  height: 10px;
  background-color: #fff; 
  clip-path: ellipse(50% 80% at 50% 0%);
  }

  .filter-dark{
    background:linear-gradient(120deg, rgb(100, 100, 100) 10%, rgba(57, 57, 57, 0.571) 66%);
    /* background-color: rgb(69, 69, 69); */
  }

  .slider{
    position: relative;
    width: 100vw;
    left: -4.9vw;
    gap: 1rem;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.nft__gradient {
  background:linear-gradient(26.7deg, rgba(71, 71, 71, 0.614) 2%, rgba(40, 37, 37, 0.622) 77.9%);
}

.button___gradient {
  background: linear-gradient(120deg, #414aff 0%, #a509ff 75%);
}

.button2___gradient {
  background: linear-gradient(360deg, transparent, #414aff 15%, #ad28facc 68%);
}

.curvy{
  background: linear-gradient(166deg, #7d0cff 15%, #a66fff 95%);
}

.span{
  background: linear-gradient(69deg, #24afff 28%, #2938ff 87%);
  filter: brightness(1.8);
}

.collection__gradient {
  background: linear-gradient(120deg, #0000003c 50%, #202020 100% );
}